.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    box-sizing: border-box;
    padding: 0 16px;
    background: #a8a7a7;
}

.footer-container {
    width: 100%;
    max-width: 1400px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 auto;
}

.footer-logo {
    width: 250px;
    height: auto;
    display: block;
    margin-bottom: 12px;
}

.contact-info {
    font-size: 0.95rem;
    color: #ffffff;
    line-height: 1.6;
}

.contact-info p {
    margin: 4px 0;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.footer-nav li {
    display: inline;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    opacity: 0.95;
    font-weight: 400;
    text-transform: lowercase;
}

.footer-nav a:hover {
    text-decoration: underline;
    opacity: 1;
}

.footer-social {
    display: flex;
    visibility: "visible";
    align-items: center;
    gap: 16px;
}

.footer-social a {
    width: 50px;
    visibility: "visible";
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff20;
}

/* .social-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: block;
} */

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        padding: 30px 24px;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .footer-left {
        align-items: center;
    }

    .footer-nav {
        align-items: center;
    }

    .footer-nav ul {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social {
        justify-content: center;
    }
}
