.container {
    background-color: white;
    border-radius: 8px;
    height: 148px;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0);
}

.director-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.director-bio {
    font-size: 16px;
    color: #555555;
}

.director-role {
    font-size: 16px;
    color: #555555;
    margin-top: 25px;
}
