.container {
    background-color: white;
    border-radius: 8px;
    height: 148px;
    width: 320px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    box-shadow: 0px 2px 4px 0px #00000026;
    display: flex;
    flex-direction: column;
}

.directorName {
    font-family: Figtree;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.directorBio {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    opacity: 0.5;
}

.directorRole {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: bottom;
    color: #000000;
    opacity: 0.5;
}

.details {
    margin-top: auto;
}
