@import "tailwindcss";

@theme {
    --font-sans: "Figtree";
}

html,
body {
    @apply bg-white text-black;
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

html::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html {
    scrollbar-width: none; /* Firefox */
}
