@import "tailwindcss";

@theme {
    --font-sans: "Figtree";
}

html,
body {
    @apply bg-white text-black;
    color-scheme: light;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
