.pageHeading {
    width: 100%;
    height: 173px;
    margin-top: 48px;
    margin-bottom: 48px;
    opacity: 1;
    background-color: #96d47c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directorPhoto {
    width: 196px;
    height: 196px;
    background-color: gray;
    border-radius: 50%;
    min-width: 196px;
    min-height: 196px;
    object-fit: cover;
}

.directorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.directorInfoText {
    margin-left: 20px;
    width: 90%;
    min-width: 0;
    max-width: 641px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.coalitionPartnersContainers {
    max-width: 1093px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.studentAffairsList {
    list-style-type: disc;
    padding-left: 20px;
}

.studentAffairsList li {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
}

.itemSize {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}

.itemSize,
.studentAffairsList li {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.boardOfDirectorsContainer {
    background-color: #e6e6e6;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.directorsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.partnersHeaders {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.formerContributors {
    width: 1093px;
    max-width: 100%;
    padding-top: 32px;
    padding-right: 48px;
    padding-bottom: 32px;
    padding-left: 48px;
    border-radius: 16px;
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.formerStaffBox {
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #00000026;
    margin-bottom: 32px;
}

.formerStaffList {
    list-style-type: disc;
    padding-left: 20px;
}

.formerStaffList li {
    font-family: Figtree;
    font-weight: 400px;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
