.director-photo {
    width: 196px;
    height: 196px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 20px;
    min-width: 196px;
    min-height: 196px;
}

.director-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.director-info-text {
    margin-left: 20px;
    width: 641px;
    min-width: 641px;
    height: auto;
}

.director-name {
    font-size: 32px;
}

.director-title {
    font-size: 20px;
}

.director-email {
    font-size: 16px;
    color: #499ed7;
    margin-bottom: 8px;
    font-style: italic;
}

.director-info {
    font-size: 16px;
}
