.director-photo {
    width: 196px;
    height: 196px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 20px;
    min-width: 196px;
    min-height: 196px;
}

.director-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.director-info-text {
    margin-left: 20px;
    width: 641px;
    min-width: 641px;
    height: auto;
}

.director-name {
    font-size: 32px;
}

.director-title {
    font-size: 20px;
}

.director-email {
    font-size: 16px;
    color: #499ed7;
    margin-bottom: 8px;
    font-style: italic;
}

.director-info {
    font-size: 16px;
}

.divider {
    height: 2px;
    background-color: #7bafd4;
    width: 1093px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.coalition-partners-containers {
    max-width: 1093px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.student-affairs-list {
    list-style-type: disc;
    padding-left: 20px;
}

.student-affairs-list li {
    margin-bottom: 8px;
    font-size: 16px;
}

.item-size {
    font-size: 20px;
    margin-bottom: 33px;
}

.board-of-directors-container {
    background-color: #e6e6e6;
    width: 1093px;
    padding: 32px;
    border-radius: 8px;
}

.directors-grid {
    display: flex;
    flex-wrap: wrap; /* This allows items to drop to the next line */
    gap: 20px; /* Space between cards */
    justify-content: center; /* Centers the 2 items on the bottom row */
}
