.page-heading {
    width: 100%;
    height: 173px;
    margin-top: 48px;
    margin-bottom: 48px;
    opacity: 1;
    background-color: #96d47c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.director-photo {
    width: 196px;
    height: 196px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 50px;
    min-width: 196px;
    min-height: 196px;
    object-fit: cover;
}

.director-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.director-info-text {
    margin-left: 20px;
    width: 641px;
    min-width: 641px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.coalition-partners-containers {
    max-width: 1093px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.student-affairs-list {
    list-style-type: disc;
    padding-left: 20px;
}

.student-affairs-list li {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
}

.item-size {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}

.board-of-directors-container {
    background-color: #e6e6e6;
    width: 1093px;
    padding: 32px;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.directors-grid {
    display: flex;
    flex-wrap: wrap; /* This allows items to drop to the next line */
    gap: 20px; /* Space between cards */
    justify-content: center; /* Centers the 2 items on the bottom row */
}

.partners-headers {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.former-contributors {
    width: 1093px;
    padding-top: 32px;
    padding-right: 48px;
    padding-bottom: 32px;
    padding-left: 48px;
    border-radius: 16px;
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.former-staff-box {
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #00000026;
    margin-bottom: 32px;
}

.former-staff-list {
    list-style-type: disc;
    padding-left: 20px;
}

.former-staff-list li {
    font-family: Figtree;
    font-weight: 400px;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}
